/* Estilos del Sidebar */
.sidebar {
    height: 100vh; /* Altura completa de la ventana */
    width: 300px;  /* Ancho del sidebar */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1976d2; /* Color del fondo */
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 100;
  }
  
  .sidebar ul li {
    padding: 25px;
    text-align: left;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #155fa0;
    padding: 15px;
  }
  
  .main-content {
    margin-left: 250px; /* Espacio para el sidebar */
    padding: 50px;
  }
  